services:
  jenkins:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: jenkins-terraform
    environment:
      - CASC_JENKINS_CONFIG=/var/jenkins_home/casc_configs/jenkins.yaml
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=us-east-2
    ports:
      - "8081:8080"      # ← Puerto web cambiado
      - "50001:50000"    # ← Puerto de agentes cambiado
    volumes:
      - jenkins_home:/var/jenkins_home
      - ./jcasc:/var/jenkins_home/casc_configs:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ../iac:/workspace/iac:ro
    networks:
      - jenkins-net

  dind:
    image: docker:27-dind
    container_name: jenkins-dind
    privileged: true
    ports:
      - "2375:2375"
    volumes:
      - dind_storage:/var/lib/docker
    networks:
      - jenkins-net

volumes:
  jenkins_home:
  dind_storage:

networks:
  jenkins-net:
    driver: bridge