name: Despliegue Seguro de Infraestructura (IaC)

on:
  push:
    branches: [ "main", "develop" ] # Se activa en ambas ramas
  pull_request:

jobs:
  # TRABAJO 1: Auditoría (Sonar)
  sonar-scan:
    name: Auditoría de Seguridad (Sonar)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  # TRABAJO 2: Despliegue (Terraform)
  terraform-deploy:
    name: Desplegar en AWS
    needs: sonar-scan
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./iac

    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      - name: Configurar Credenciales AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Instalar Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Format Check
        run: terraform fmt -check

      - name: Terraform Plan
        run: terraform plan -out=tfplan

      # CORRECCIÓN AQUÍ:
      # Ahora permitimos que despliegue si es Main O Develop
      - name: Terraform Apply
        if: (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop') && github.event_name == 'push'
        run: terraform apply -auto-approve tfplan